/* Cart.css */

/* Styles for the cart container */
.cart {
    display: flex;
    align-items: center;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0 10px;
  }
  
  /* Styles for the cart button */
  .cart button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  /* Styles for the cart item count */
  .cart span {
    font-size: 16px;
  }

  .badge {
    background-color: #2e2c2c;
  }
  